version: '3.9'
services:
  db:
    image: mysql:8.0
    container_name: skin_lesion_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ai_doc
      MYSQL_USER: root
      MYSQL_PASSWORD: arjunarjun@2006
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  mysql_data:

